.footer__navbar-item {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    margin-right: 18px;
}

@media screen and (max-width: 820px){
    .footer__navbar-item {
        font-size: 2vw;
        line-height: 2vw;
    }
}

@media screen and (max-width: 650px){
    .footer__navbar-item {
        font-size: 6vw;
        line-height: 7vw;
        margin-right: 0;
        margin-bottom: 10vw;
    }
}