.footer__copyright {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #FFFFFF;
}

@media screen and (max-width: 820px){
    .footer__copyright {
        font-size: 2vw;
        line-height: 2vw;
    } 
}

@media screen and (max-width: 650px){
    .footer__copyright {
        font-size: 4.375vw;
        line-height: 4.375vw;
        text-align: left;
    } 
}