.cover {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    background-image: url(../../images/cover-trains.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 1184px;
    min-height: 740px;
    margin: 0 48px 0 48px;
}

.cover::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background-color: #2A2C2F;
    width: 1184px;
    height: 740px;
    opacity: 0.3;
    transition: 0.3s opacity ease-in;
}

.cover:hover::before {
    opacity: 0.8;
}

@media screen and (max-width:1284px){
    .cover {
        max-width: 100%;
        min-height: 62.5vw;
        margin: 0;
    }

    .cover::before {
        width: 100%;
        height: 62.5vw;
    }
}

@media screen and (max-width:768px){
    .cover {
        width: 100%;
        min-height: 62.5vw;
        margin: 0;
    }

    .cover::before {
        width: 100%;
        height: 62.5vw;
    }
}