.places__place {
    display: grid;
    grid-template-columns: repeat(2, 452px);
    grid-template-rows: auto 460px;
    row-gap: 48px;
    column-gap: 40px;
    margin-bottom: 80px;
    width: 100%;
}

@media screen and (max-width:1024px){
    .places__place {
        grid-template-columns: repeat(2, 42vw);
        grid-template-rows: auto;
        column-gap: 32px;
    }
}

@media screen and (max-width: 768px){
    .places__place {
        grid-template-columns: repeat(2, 42vw);
        grid-template-rows: auto;
        column-gap: 3.6vw;
        row-gap: 6.25vw;
        margin-bottom: 9.5vw;
    }
}

@media screen and (max-width: 320px){
    .places__place {
        grid-template-columns: 100vw;
        grid-template-rows: auto;
        row-gap: 10vw;
        margin-bottom: 9.5vw;
    }
}