.footer {
    display: flex;
    margin: 92px 48px 24px 48px;
    justify-content: space-between;
}

@media screen and (max-width: 820px){
    .footer {
        margin: 11.4vw 24px 24px 24px;
        max-width: 93.75vw;
        min-height: 2.3vw;   
    } 
}

@media screen and (max-width: 650px){
    .footer {
        margin: 64px 118px 24px 16px;
        max-width: 58.1vw;
        min-height: 96.8vw;
        flex-direction: column;
    } 
}