.places__website {
    margin: 0;
    padding: 0;
    max-width: 456px;
    min-height: 46px;
    grid-column-start: 2;
    grid-row-start: 1;
    align-self: flex-end;
}

@media screen and (max-width: 820px){
    .places__website {
        max-width: 45.8vw;
        min-height: 6vw;
    }  
}

@media screen and (max-width: 650px){
    .places__website {
        max-width: 90vw;
        min-height: 6.8vw;
        grid-column-start: 1;
        grid-row-start: 2;
        margin: 0 5vw 0 5vw;
    }  
}